@keyframes stretch {
  0% { transform: scaleY(1); }
  20% { transform: scaleY(calc(var(--arrow-stretch, 2) + (var(--arrow-stretch, 2) / 2.6))); }
  50% { transform: scaleY(1); }
  100% { transform: scaleY(1); }
}

@keyframes moveTip {
  0% { transform: translateY(0); }
  20% { transform: translateY(calc(var(--arrow-distance, 60px) + (var(--arrow-distance, 60px) / 2.5))); }
  50% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

.shaft-animated {
  transform-origin: 50% 59%;
  animation: stretch var(--arrow-duration, 1.5s) ease-in-out infinite;
  animation-delay: var(--arrow-delay, 0s);
}

.tip-animated {
  animation: moveTip var(--arrow-duration, 1.5s) ease-in-out infinite;
  animation-delay: var(--arrow-delay, 0s);
}
