.hover-container {
  position: relative;
  display: inline-block;
}

.content-slot {
  position: relative;
  z-index: 10;
}

.arrow-absolute {
  width: 25px;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: -5px;
  transform: translateX(-47%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

/* Aparece la flecha al hacer hover */
.hover-container:hover .arrow-absolute {
  opacity: 1;
}



@keyframes stretch-once {
  0% { transform: scaleY(1); }
  20% { transform: scaleY(var(--arrow-stretch, 2)); }
  50%, 100% { transform: scaleY(1); }
}

@keyframes moveTip-once {
  0% { transform: translateY(0); }
  20% { transform: translateY(var(--arrow-distance, 60px)); }
  50%, 100% { transform: translateY(0); }
}

.shaft-animated {
  transform-origin: 50% 30%;
}

.hover-container:hover .shaft-animated {
  animation: stretch-once var(--arrow-duration, 1.5s) ease-in-out 1;
}

.hover-container:hover .tip-animated {
  animation: moveTip-once var(--arrow-duration, 1.5s) ease-in-out 1;
}


