<div class="min-h-screen mx-[5%] md:mx-[25%] bg-background-c flex flex-col items-center">
  <app-navbar-c class="mt-2.5"/>

  <main class="mt-24 w-full">
    <section class="flex flex-col justify-center items-center gap-8 md:gap-16 md:mt-8">
      <app-download-cv-c />

      <header class="text-center text-text-c">
        <div class="font-modak-f">
          <h2 class="text-3xl md:text-5xl text-primary-c leading-none">Software Developer</h2>
          <h1 class="text-[2.6rem] md:text-7xl -mt-4">Agustín Santos</h1>
        </div>

        <h3 class="text-xl md:text-3xl md:mt-3 font-winky-f font-bold">Full Stack Angular & Express.js</h3>
      </header>

      <div class="flex justify-center items-center gap-5">
        <app-external-link-c type="linkedin" />
        <app-external-link-c type="github" />
      </div>

      <div class="flex justify-center items-center gap-2">

        @for (svg of preferredStack(); track svg.name) {

          <a
            [href]="svg.link"
            target="_blank"
            class="transition duration-200 hover:-translate-y-1"
            >
            <app-svg-icon-c
              [iconName]="svg.name"
              [size]="28 * iconSizeMultiplier()"
            />

          </a>


        }

      </div>

      <div class="relative" >

        <app-animated-arrow-down-c
          class="absolute left-1/2 -translate-x-1/2 z-0"
          [distance]="280"
          [duration]="3"
        />
      </div>

    </section>



    <section
      class="mt-48 pt-20 text-text-c"
      id="experience"
      >
      <h3
        class="text-xl text-center font-modak-f
        mb-5 tracking-[0.2rem]"
        >
        EXPERIENCIA
      </h3>

      <article>
        <h4 class="text-2xl text-center font-winky-f tracking-widest mb-2">EMPRESAS</h4>
        <div class="flex flex-col justify-center items-center gap-4">
          @for (card of experienceCompanyData(); track card.title) {
            <app-card-experience-company-c
              [companyData]="card"
              class="w-full"
            />
          }
        </div>

      </article>
<!--
      <article>
        <h4 class="text-xl text-center font-winky-f tracking-widest">PROYECTOS DESTACADOS</h4>
      </article> -->

    </section>


    <section
      id="stack"
      class="pt-20 text-white flex flex-col justify-center items-center gap-10"
      >

      <h3>
        <app-title-arrows-wrapper-c class="text-xl text-center font-modak-f tracking-[0.2rem]">
          TECNOLOGÍAS
        </app-title-arrows-wrapper-c>
      </h3>

      <article class="w-full grid grid-cols-2 gap-4">

        @for (card of stackData(); track card.title) {
          <app-stack-card-c
            [dataCard]="card"
          />
        }

      </article>

    </section>

  </main>

</div>
