.arrows-wrapper {
  position: relative;
  display: inline-block;
}

.arrows-container {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 10;
}

.arrow-item {
  position: absolute;
  width: 2rem;
  height: 2.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #ff6d2d;
}

.arrows-wrapper:hover .arrow-item {
  opacity: 1;
}

.arrow-svg {
  width: 100%;
  height: 100%;
  transform: rotate(var(--arrow-rotation, 0deg));
}


/* Animaciones */
@keyframes stretch {
  0% { transform: scaleY(1); }
  20% { transform: scaleY(2); }
  50% { transform: scaleY(1); }
  100% { transform: scaleY(1); }
}

@keyframes moveTip {
  0% { transform: translateY(0); }
  20% { transform: translateY(25px); }
  50% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

.arrows-wrapper:hover .shaft-animated {
  transform-origin: 50% 59%;
  animation: stretch 1.2s ease-in-out infinite;
  animation-delay: var(--arrow-delay, 0s);
}

.arrows-wrapper:hover .tip-animated {
  animation: moveTip 1.2s ease-in-out infinite;
  animation-delay: var(--arrow-delay, 0s);
}
