<div
  class="w-[340px] md:w-[500px] bg-second-c px-5 py-4  rounded-md
  text-sm md:text-md z-50 fixed -translate-x-1/2
  transition-all duration-300 ease-in-out"
  [class.nav-scrolled-effect]="scrolled()"
  >
  <nav
    class="flex justify-around md:justify-around items-center
    md:text-lg text-text-c font-winky-f"
    >

    @for (route of routes(); track route.code) {
      <app-hover-arrow-wrapper-link-c class="w-20">
        <a
          [href]="`#${route.code}`"
          class="text-center"
          >
          {{ route.name }}
        </a>
      </app-hover-arrow-wrapper-link-c>

    }

  </nav>

</div>
